// Sky Navbar
.sky-section {
  position: relative;
  z-index: 9999;
  background-size: cover;
  .sky-navbar {
    background-color: #000;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
    .navbar-container {
      position: relative;
      padding: 10px;
      margin: auto;
      &:before, &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
      #sky-logo{
        max-width:180px;
        margin-left: 15px;
      }
    }
  }
}
.nav-button {
  background-color:#2E2E2E;
  &.fixed.affix{
    width:100%;
    z-index: 999999;
    top:0px;
  }
  
  .res-button{
    background-color:#525252;
    span{
      background:#fff;
    }
  }
  .logo{
    display:none;
  }
}
.logo {
  // width: 93px;
  margin-top: 6px;
  float: left;
  opacity: 0.93;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  position: relative;
  text-decoration: none;
  color: #333;

}

.sky-nav-links-wrapper {
  float: right;
  position: relative;
  // padding-top: 6px;
}

.nav-link {
  margin-left: 25px;
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  font-family: proxima-nova, sans-serif;
  color: rgba(255, 255, 255, 0.49);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-decoration: none;
}

@media (max-width: 767px) {
  .navbar-container {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .logo {
    // padding-left: 0px;
  }
  .sky-nav-links-wrapper {
    padding-left: 10px;
  }
  .nav-link {
    margin-left: 16px;
    font-size: 15px;
  }
}
.sky-nav-line {
  // position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 2px;
  margin-top: 0px;
  background-image: -webkit-linear-gradient(left, @brand-primary, #b73794 25%, #7254b6 50%, #3981d1 74%, #3bbfee);
  background-image: linear-gradient(to right, @brand-primary, #b73794 25%, #7254b6 50%, #3981d1 74%, #3bbfee);
  box-shadow: none;
}

@media screen and (max-width: 479px) {
  .navbar-container {
    max-width: none;
  }
  .sky-nav-links-wrapper {
    margin-top: 8px;
    float: none;
    text-align: center;
  }
  .nav-link {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 6px;
    margin-left: auto;
    float: none;
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .navbar-container {
    max-width: 728px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-container {
    padding: 20px !important;
  }
}

.sky-nav-menu {
  clear: both;
  background: #F2F2F3;
  box-shadow: 0 2px 2px rgba(0,0,0,0.03);
  &.fixed.affix{
    width:100%;
    z-index: 999999;
    top:0;
  }
}
ul#sky-nav-bar {
  width: 100%;
  padding: 0;
  list-style: none;
  >li {
    white-space: nowrap;
    float: left;
    vertical-align: middle;
    border-right: 1px solid #E4E2E2;
    &:first-child {
      border-left: 1px solid #E4E2E2;
    }
    &:hover{
      background-color:#fff;
    }
    >a {
      display: inline-block;
      padding: 11px 20px;
      color: #565759;
      margin: 0;
      i {
        margin-right: 5px;
      }
      &:hover{
        background:none;
      }
    }
    >ul.sub-menu {
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transform:translateY(30px);
      -webkit-transform:translateY(30px);
      -moz-transform:translateY(30px);
      -o-transform:translateY(30px);
      min-width: 230px;
      width:auto;
      visibility: hidden;
      opacity: 0;
      margin: 0;
      overflow:hidden;
      padding:0;
      z-index: 1;
      list-style: none;
      position: absolute;
      background-color:#fff;
      >li.sky-menu {
        list-style:none;
        background: none;
        padding: 0;
        margin: 0;
        height: auto;
        border: none;
        >a {
          transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          -moz-transition: all .4s ease-in-out;
          -o-transition: all .4s ease-in-out;
          color: #666;
          font-size: 14px;
          font-weight: normal;
          padding: 10px 20px;
          margin: 0;
          display: block;
          height: auto;
          background: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          text-shadow: none;
          text-align: left;
          &:hover {
            background:#E6E6E6;
            color: @brand-primary;
          }
        }
        ul.sub-menu{
          padding:0;
          li.sky-menu{
            display:block;
            list-style:none;
            margin:0px;
            padding-left:10px;
            transition: all .4s ease-in-out;
              -webkit-transition: all .4s ease-in-out;
              -moz-transition: all .4s ease-in-out;
              -o-transition: all .4s ease-in-out;
            
            &:hover a{
              color:@brand-primary;
            }
            a{
              
              color:#000;
              padding: 5px 15px;
              display:block;
              i{
                margin-right:5px;
              }
            }

          }
        }
      }
    }
    &:hover > a{
      color:@brand-primary;
    }
    &:hover ul.sub-menu{
      opacity: 1;
      visibility: visible;
      transform:translateY(0px);
      -webkit-transform:translateY(0px);
      -moz-transform:translateY(0px);
      -o-transform:translateY(0px);
    }
  }

}

.current-menu-item {
  background: #fff;
}


@media (min-width: 768px) {
  .page ul#sky-nav-bar {
    margin: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .sky-section{
    display:none;
  }
  .nav-button .logo{
    display:inline-block;
    width:150px;
    padding: 5px 0px 5px 20px;
    img{
      width:100%;
    }
  }
 .sky-nav-menu{
  .sky-container.navbar-collapse{
    padding:0px;
  }
  ul#sky-nav-bar{
    li.sky-menu{
      float:none;
      display:block;
      a{
        display:block;
      }
      ul.sub-menu{
        position:static;
        display: none;
      }
      &:hover ul.sub-menu{
        display: block;
      }
    }
  }
 }
}
