/* Ticker Styling */

.ticker-wrapper.has-js {
	// margin: 20px 0px 20px -15px;
	padding: 0px 20px;
	height: 32px;
	display: block;
	background-color: #fff;
	font-size: 0.75em;
	position: relative;
}

.ticker {
	width: 710px;
	height: 23px;
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #fff;
}
.ticker-title {
	padding-top: 9px;
	color: #990000;
	font-weight: bold;
	background-color: #fff;
	text-transform: uppercase;
}

.ticker-content {
	margin: 0px;
	padding-top: 9px;
	position: absolute;
	color: #1F527B;
	font-weight: bold;
	background-color: #fff;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.2em;
	a {
		text-decoration: none;	
		color: #1F527B;
		&:hover {
			text-decoration: underline;	
			color: #0D3059;
		}
	}
}


.ticker-swipe {
	padding-top: 9px;
	position: absolute;
	top: 0px;
	background-color: #fff;
	display: block;
	width: 800px;
	height: 23px; 
	span {
		margin-left: 1px;
		background-color: #fff;
		border-bottom: 1px solid #1F527B;
		height: 12px;
		width: 7px;
		display: block;
	}
}

.ticker-controls {
	padding: 8px 0px 0px 0px;
	list-style-type: none;
	float: left;
	li {
		padding: 0px;
		margin-left: 5px;
		float: left;
		cursor: pointer;
		height: 16px;
		width: 16px;
		display: block;
		&.jnt-play-pause {
			background-image: url('../images/controls.png');
			background-position: 32px 16px;
		}
		&.jnt-play-pause.over {
			background-position: 32px 32px;
		}
		&.jnt-play-pause.down {
			background-position: 32px 0px;
		}
		&.jnt-play-pause.paused {
			background-image: url('../images/controls.png');	
			background-position: 48px 16px;
		}
		&.jnt-play-pause.paused.over {
			background-position: 48px 32px;
		}
		&.jnt-play-pause.paused.down {
			background-position: 48px 0px;
		}
		&.jnt-prev {
			background-image: url('../images/controls.png');
			background-position: 0px 16px;		
		}
		&.jnt-prev.over {
			background-position: 0px 32px;		
		}
		&.jnt-prev.down {
			background-position: 0px 0px;		
		}
		&.jnt-next {
			background-image: url('../images/controls.png');	
			background-position: 16px 16px;	
		}
		&.jnt-next.over {
			background-position: 16px 32px;	
		}
		&.jnt-next.down {	
			background-position: 16px 0px;	
		}
	}
}

.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 45px; 
	color: #fff;
}
.left {
	.ticker-swipe {

	}
	.ticker-controls,
	.ticker-content,
	.ticker-title,
	.ticker {
		float: left;
	}
	.ticker-controls {
		position: absolute;
	    right: 20px;
	}
}

.right {
	.ticker-swipe {

	}
	.ticker-controls,
	.ticker-content,
	.ticker-title,
	.ticker {
		float: right;
	}
	.ticker-controls {
		padding-right: 6px;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.ticker-wrapper.has-js {
	    margin: 3px 15px -20px
	}
}

@media (max-width: 490px) {
	.ticker-title {
		span {
			display: none !important;
		}
		
		&:before {
			font: normal normal normal 14px/1 FontAwesome;
			content: "\f0e7";
			color: red;
		}
	}
	.ticker-controls {
		display: none;
	}
	.ticker-content {
		margin: 0px 0 0 -10px;
	}
}