.widget{
	margin: 5px 0;
	ul{
		margin:0px;
		padding:0px;
		li{
			margin:0px;
			padding: 8px 0px;
			list-style: none;
			// border-bottom:1px solid #D2D2D2;
			a{
				transition: all 0.5s ease-in-out;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				color: gray;
				&:hover{
					color:@brand-primary;
				}
			}
			&:last-child{
				border-bottom:0;
			}
			ul {
				display: none;

			}
		}
	}
	label{
		color:gray;
		font-weight:normal;
	}
	form.sky-search-form{
        input[type="search"],input[type='submit']{
          padding:6px 10px;
          border:none;
          outline:none;
          color:gray;
        }
      }
	.widget-title {
		color: #fff;
		text-transform: uppercase;
	    margin: 0;
	    line-height: 1.5;
	}
	.sub_title {
	    color: #b2b2b2;
	}
	.sky-small{
		height:3px;
		width:50px;
		background-color:@brand-primary;
		margin-bottom:20px;
	}
	.textwidget{
		color:gray;
	}
	.tagcloud{
		display: inline-block;
		margin:5px 5px 0px 0px;
		padding:0px;
	 	a {	
		 	display:inline-block;
			text-decoration:none;
			font-size:14px!important;
			border: 1px solid #a1b1bc;
    		color: #a1b1bc;
			padding: 7px 10px;
			transition: all 0.5s ease-in-out;
	    	-webkit-transition: all 0.5s ease-in-out;
	    	-moz-transition: all 0.5s ease-in-out;
	    	-o-transition: all 0.5s ease-in-out;
    	    margin: 0 10px 10px 0;
			&:hover{
				color:#fff;
				background:@brand-primary;
			}
			&:before {
			    content: "\f02b";
			    font-family: 'FontAwesome';
			    display: inline-block;
			   	padding-right: 5px;
			}
	 	}
	}
	#calendar_wrap table#wp-calendar{
		width:100%;
		color:gray;
		text-align:center;
		caption{
			font-weight: bold;
    		padding: 0px 0px 10px 0px;
		}
		th,td{
			border:1px solid #CCC3C9;
			padding:8px;
			a {
				color: #ccc
			}
		}
		td#prev a{
			color:@brand-primary;
		}
		td#today {
		    background-color: @brand-primary;
		    color: #fff;
		}
	} 
}
.post article{
	padding:0px;
}

#sky-main-page .sky-pagenavi{
	// margin-top:30px;
	// margin-bottom:20px;
}
#footer-widget-content{
	padding-top:35px;
	margin-bottom:30px;
}

//end
.sky-widget-title {
	padding: 10px 20px;
    color: #fff;
    background: @brand-primary;
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
}

.sky-widget {
	ul {
		padding: 0;
		margin: 0;

		li {
			list-style: none;
		    padding: 8px 8px 8px 12px;
		    background: #fff;
		    font-size: 13px;
		    border-top: 1px solid #ddd;
			&:before{
				font-family: 'FontAwesome';
				content: "\f0da";
			   	display: inline-block;
			   	padding-right: 5px;
			   	// vertical-align: middle;
			}
			a{
				display:inline-block;
				text-decoration:none;
				&:hover{

				}
			}
			&>ul {
				li {
					padding: 2px 0px 0px 12px;
					&:before {
						content: "\f105";
					}
				}
			}
		}
	}
}
@media (max-width: 992px) {
	.sky-widget {
		ul {
		    margin: 0 15px;
		}
	}
}
.widget_sky_box_like_facebook{
	margin-top: 5px;
}	

.sky-widget {
	&.widget_sky_category {
		li {
			.sky_badge {
			    float: right;
			    font-size: 11px;
			    background-color: blanchedalmond;
			    padding: 1px 5px;
			    border-radius: 5px;
			    color: brown;
			}
			&.current-cat {
				>a {
					color: cadetblue;
					color: red;
				}
				.sky_badge {
					color: red;
				}
				>ul {
					display: block;
				}
			}
		}
	}
}
.widget_sky_recent_post{
	margin:0px;
	padding:0px;
	.sky_recent_post_container, ul{
		.sky-item {
		padding: 6px;
		position: relative;
		background: #fff;
		//height: 80px;
		border-bottom: 1px solid #EEE;
		transition:all 0.5s ease-in-out;
		-webkit-transition:all 0.5s ease-in-out;
		-moz-transition:all 0.5s ease-in-out;
		-o-transition:all 0.5s ease-in-out;

		.sky-thumb {
			float: left;
			padding: 5px;
			//margin: 4px;
			img {
			    width: 60px;
			    height: 60px;
			    border-radius: 15px;
			}
		}
		.sky-entry {
			padding: 3px;
			.sky-read-more{
				position: absolute;
			    right: 7px;
			    bottom: 10px;
			    font-size: 12px;
			    color: #fff;
			    padding: 2px 14px;
			    background-color: #49BD0E;
			    border-radius: 2px;
			    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
			    border: 1px solid #6bb247;
			    i{
			    	padding-left:5px;
			    }
			}
			a{
				transition:all 0.5s ease-in-out;
				-webkit-transition:all 0.5s ease-in-out;
				-moz-transition:all 0.5s ease-in-out;
				-o-transition:all 0.5s ease-in-out;

				&:hover{
					color: @brand-primary;
				}
				h4 {
					font-size: 14px;
					white-space: nowrap;
				    text-overflow: ellipsis;
				    overflow: hidden;
				    max-width: 80%;
				}
			}	
			span {
				position: absolute;
			    right: 10px;
			    float: right;
			    top: 40px;
			    font-size: 13px;
			    color: #fff;
			    padding: 4px 18px;
			    background-color: #49BD0E;
			    border-radius: 2px;
			    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
			    border: 1px solid #6bb247;
			    cursor: pointer;
			    &:hover {
			    	background-color: darken( #49BD0E, 10%)
			    }
			}
		}
		&:hover {
			cursor: pointer;
			// background: #F0EDED;
			//border-left: 3px solid #F060D0;
			padding-left:10px;
		}
	}
	}
}
@media (max-width: 992px) {
	.sky-sidebar {
		padding: 0px;
		margin: 0px;
		// aside {
		// 	margin: 4px 0px !important;
		// }
	}
}

@media (max-width: 320px) {
	.widget {
		.tagcloud {
			a {
				font-size: 12px !important;
				padding: 3px;
			}
		}
	}
}

@media (max-width: 260px) {
	.sky-widget {
		.sky-item {
			.sky-entry {
				h4 {
					font-size: 13px;
				}
				p {
					font-size: 13px;
				}
				span {
					padding: 1px 4px;
				}
			}
		}
	}
}

@media (max-width: 220px) {
	.sky-widget {
		.sky-item {
			.sky-entry {
				p {
					display: none;
				}
				span {
					float: left;
					right: auto;
				}
			}
		}
	}
}

.recent-tweets {
	ul {
		li {
			&:before {
				content: "";
			}
		}
	}
}
//Skype widget
.tweets-widget{
	border:10px solid #55ACEE;;
	border-radius: 10px;
	h3.sky-widget-title{
		// color:#55ACEE;
	}
	.recent-tweets{
		ul{
			li{
			    list-style: none;
				padding: 5px 8px 11px 12px;
				background: #fff;
				font-size: 13px;
				border-bottom: 1px solid #DEDEDE;
				a{
					color:#55ACEE;
				}
				&:before{
				   display:none;
				}
				.twitter_user{
					margin-top:15px;
				}
			}
		}
	}
}
// === <<< Recent Post
.widget_recent_entries {
	ul {
		li {
			border-bottom: 1px solid #333;
			&:before {
				content: "\f0f6";
			    font-family: 'FontAwesome';
			    display: inline-block;
			   	padding-right: 5px;
			}
		}
	}
}

// === <<< Testimonial
.widget_sky_testimonial_widget {
	position: relative;
	.testimonial_nav {
		position: absolute;
		top: 0;
		right: 	0;
		a {
			padding: 0;
			color: #fff;
		    i {
		    	background-color: @brand-primary;
			    padding: 1px 6px;
			    border-radius: 12px;
			    &:hover {
			    	background-color: darken(@brand-primary, 10%)
			    }
		    }
		}
	}
	.testimonial_widget {
	    margin-top: 25px;
	    .say_testimonial {
		    margin: 0;
		    margin-bottom: 1.3em;
		    border-radius: 10px;
		    border: 0;
		    color: white;
		    padding: 12px 42px;
		    position: relative;
		    background-color: @brand-primary;
		    p {
		    	&:before {
				    content: "\f10d";
				    top: 0.25em;
				    left: 0.3em;
				    font-family: 'FontAwesome';
				    position: absolute;
				    font-size: 1.75rem;
				    color: rgba(0, 0, 0, 0.5);
				}
		    	&:after {
				    content: "\f10e";
				    bottom: 0.25em;
				    right: 0.3em;
				    font-family: 'FontAwesome';
				    position: absolute;
				    font-size: 1.75rem;
				    color: rgba(0, 0, 0, 0.5);
				}
		    }
		    &:after {
			    top: 100%;
			    left: 50%;
			    border: solid transparent;
			    content: " ";
			    height: 0;
			    width: 0;
			    position: absolute;
			    left: 3em;
			    pointer-events: none;
			    border-color: rgba(136, 183, 213, 0);
			    border-width: 12px;
			    margin-left: -12px;
			    border-top-color: @brand-primary;
			}
		}

		.info_testimonial {
			.thumb {
				float: left;
				img {
					width: 50px;
				    height: 50px;
				    border-radius: 25px;
				}
			}
			.profile {
				margin-left: 60px;
				.name {
					color: #fff;
					font-weight: bold;
				}
				.position {
					color: #b2b2b2;
				}
			}
		}
	}
}

// ==== <<< Recent new
.recent_new_widget {
	margin-top: 25px;
	.item_recent_new {
		margin-bottom: 15px;
		a {
			color: #fff;
			&:hover {
				text-decoration: none;
				border-bottom: 1px dotted @brand-primary;
			}
		}
		.item_thumb {
			// position: relative;
			float: left;
			height: auto;
			img {
			    width: 55px;
			    height: auto;
			}
			.item_date {
			    // position: absolute;
		        width: 100%;
			    background-color: @brand-primary;
			    text-align: center;
			}
		}
		.item_info {
	
			padding-left: 65px;
			.item_title {
				font-weight: bold;
				color: #fff;
				background: transparent;
				padding: 0;
				a {
					&:hover {
						text-decoration: none;
						border-bottom: 1px dotted @brand-primary;
					}
				}
			}
			.item_excerpt {
				color: #707070;
			}
		}
		&:after {
			clear: both;
			content: '';
			display: table;
		}
	}
}

.sky-sidebar {
	.sky-widget-title {
		// color: #777474;
	}
}

// === <<< Mailchimp
.mailchimp-widget {
	form {
	    margin-top: 20px;
	    color: #b2b2b2;
	    label {
	    	font-size: 13px;
		    font-weight: normal;
	    }
	    .main_mail {
	    	margin-top: 20px;
	    	position: relative;
	    	input {
	    		padding: 2px 10px;
	    		width: 100%;
	    	}
	    	button {
	    		position: absolute;
	    		top: 2px;
			    right: 0;
			    height: 25px;
			    border: none;
			    width: 50px;
	    	}
	    }
	    .main_social {
    	    margin-top: 20px;
	    	i {
	    		background: @brand-primary;
    		    padding: 6px 10px;
			    color: #fff;
			    font-size: 14px;
			    width: 2em;
			    height: 2em;
	    		&:hover {
	    			background: darken( @brand-primary, 10%);
	    			text-decoration: none;
	    		}
	    	}
	    }
	}
}

/*--------------------------------------------------------------
Tabs
--------------------------------------------------------------*/
.sky_tabs_widget {
	border: 1px solid #e0e0e0;
    .sky-top {
	    display: inline-block;
		width: 100%;
		background: #f8f8f8;
		border-bottom: 1px solid #e0e0e0;
		padding: 0;
		margin: 0;
	}
	ul {
		&.sky-posts-tabs {
		    overflow: hidden;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		&.sky-posts-tabs {
			li {
				float: left;
				width: 33.3333333333%;
				position: relative;
				background: transparent;
				border-right: 1px solid;
				border-color: #e0e0e0;
				margin: 0;
				padding: 0;
				line-height: 1;
				text-align: center;
				&:last-child {
					border-right: 0;
				}
				a {
				    display: block;
					color: #555;
					padding: 0 5px;
					font-size: 13px;
					line-height: 40px;
					text-align: center;
					outline: 0;
					&:hover {
						background: #fff;
					    color: #000;
					}
				}
				&.sky-active {
					a {
						background: @brand-primary;
					    color: #fff;
					    font-weight: bold;
					}
				}
			}
		}
	}
	.sky-tabs-wrap {
		clear: both;
	    display: none;
	    padding: 10px;
	    #sky-tab1 {
	    	display: block;
	    }
	    ul {
		    margin: 0;
		    padding: 0;
		    li {
			    display: block;
				line-height: 18px;
				overflow: hidden;
				padding: 6px 0;
				border-bottom: 1px solid #E2E1E1;
				&:last-child {
					border-bottom: 0;
				}
				h3 {
				    font-size: 13px;
				    margin: 5px;
				    clear: none;
				    white-space: nowrap;
				    text-overflow: ellipsis;
				    overflow: hidden;
				}
				.sky-date {
					&:before {
					    content: "\f017";
					    font-family: 'FontAwesome';
					    display: inline-block;
					   	padding-right: 5px;
					}
				}
				a {
				    font-size: 13px;
				}
			}
		}
		&.sky-tagcloud {
		    font-size: 0;
		    a {
				display: inline-block;
			    background: #f5f5f5;
			    color: #333;
			    padding: 6px 8px;
			    margin: 0px 1px 1px 0px;
			    text-transform: capitalize;
			    &:hover {
				    background: #e7f1ff;
				    color: #2676ef;
				}
			}
		}
	}
	.sky-post-thumbnail {
		float: left;
	    margin-right: 10px;
	    position: relative;
	    line-height: 0;
	    img {
		    width: 50px;
		    height: 50px;
		    -webkit-transition: all .3s ease;
		    -moz-transition: all .3s ease;
			transition: all .3s ease;
			border-radius: 25px;
		}
		a:hover img {
		    opacity: 0.5;
		}
	}
}

@media (max-width: @screen-sm-max) {
	.sky_tabs_widget {
		margin-top: 20px;
	}
}

/*--------------------------------------------------------------
Twitter
--------------------------------------------------------------*/
/*expand style*/
.sky_twitter_widget iframe {
    display: block !important;
    margin: 0 auto !important;
    max-width: 520px !important;
}

/*simple style*/
#sky_jtwt {
    list-style: none;
}

#sky_jtwt .sky_jtwt_tweet {
    position: relative;
    color: #838383;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 12px;
    padding-left: 45px;
    margin-bottom: 12px;
}

#sky_jtwt .sky_jtwt_tweet:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

#sky_jtwt .sky_jtwt_tweet:before {
    position: absolute;
    top: 6px;
    margin-left: -45px;
    content: '\f099';
    font-family: 'FontAwesome';
    color: #33ccff;
    text-shadow: 1px -1px #089ccd, 1px 1px rgba(255,255,255,0.5);
    font-size: 30px;
}

#sky_jtwt .sky_jtwt_tweet .sky_jtwt_tweet_text {
    margin-bottom: 0;
    margin-top: 0;
}
