//
// Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.sky-container {
  .sky-container-fixed();

  @media (min-width: @screen-sm-min) {
    max-width: @container-sm;
    width: 100%;
  }
  @media (min-width: @screen-md-min) {
    max-width: @container-md;
    width: 100%;
  }
  @media (min-width: @screen-lg-min) {
    max-width: @container-lg;
    width: 100%;
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.sky-container-fluid {
  .sky-container-fixed();
}


// Row
//
// Rows contain and clear the floats of your columns.

.sky-row {
  .make-row();
}


// Columns
//
// Common styles for small and large grid columns

.make-grid-columns();


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

.make-grid(xs);


// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: @screen-sm-min) {
  .make-grid(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: @screen-md-min) {
  .make-grid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-lg-min) {
  .make-grid(lg);
}

.sky-xs-5,
.sky-sm-5,
.sky-md-5,
.sky-lg-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.sky-xs-5 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.sky-sm-5 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .sky-md-5 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .sky-lg-5 {
        width: 20%;
        float: left;
    }
}