//Style Shortcode recent post
.item_title{
	padding: 10px 20px;
    background: #337ab7;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.sky_recent_post.list{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	.sky-item {
		padding: 6px;
		position: relative;
		background: #fff;
		//height: 80px;
		border-bottom: 1px solid #ddd;
		transition:all 0.5s ease-in-out;
		-webkit-transition:all 0.5s ease-in-out;
		-moz-transition:all 0.5s ease-in-out;
		-o-transition:all 0.5s ease-in-out;

		.sky-thumb {
			float: left;
			padding: 5px;
			//margin: 4px;
			img {
			    width: 60px;
			    height: 60px;
			    border-radius: 15px;
			}
		}
		.sky-entry {
			padding: 3px;
			.sky-read-more{
				position: absolute;
			    right: 7px;
			    bottom: 10px;
			    font-size: 12px;
			    color: #fff;
			    padding: 2px 14px;
			    background-color: #49BD0E;
			    border-radius: 2px;
			    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
			    border: 1px solid #6bb247;
			    i{
			    	padding-left:5px;
			    }
			}
			a{
				transition:all 0.5s ease-in-out;
				-webkit-transition:all 0.5s ease-in-out;
				-moz-transition:all 0.5s ease-in-out;
				-o-transition:all 0.5s ease-in-out;

				&:hover{
					color: @brand-primary;
				}
				h4 {
					font-size: 14px;
					white-space: nowrap;
				    text-overflow: ellipsis;
				    overflow: hidden;
				    max-width: 80%;
				}
			}	
			span {
				position: absolute;
			    right: 10px;
			    float: right;
			    top: 40px;
			    font-size: 13px;
			    color: #fff;
			    padding: 4px 18px;
			    background-color: #49BD0E;
			    border-radius: 2px;
			    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
			    border: 1px solid #6bb247;
			    cursor: pointer;
			    &:hover {
			    	background-color: darken( #49BD0E, 10%)
			    }
			}
		}
		&:hover {
			cursor: pointer;
			// background: #F0EDED;
			//border-left: 3px solid #F060D0;
			padding-left:10px;
		}
	}
	
}
.sky_recent_post.grid{
	background: #fff;
	clear: both;
	content: '';
	.sky-item{
		float: left;
		text-align: center;	
		box-sizing: border-box;
		padding: 20px 20px 0;
		border-left: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		background: #fff;
		&:first-child {
			border-left: none;
		}
		.sky-game-item{
			.sky-thumb{
				a{
					img{
						width: 80px;
						height: 80px;
					    border-radius: 10px;
					}
				}
			}
			.sky-entry{
		    	padding: 20px 0px;
		    	margin:0px;
				h4{
					margin:0px;
					padding:0px 10px 10px 10px;
				    white-space: nowrap;
				    overflow: hidden;
			        text-overflow: ellipsis;
			        font-size: 15px;
				}
				.sky-btn-download{
					font-size: 10px;
				    color: #fff;
				    padding: 5px 20px;
				    background-color: #49BD0E;
				    border-radius: 2px;
				    border: 1px solid #6bb247;
				    &:hover {
			          background-color: darken( #49BD0E, 10%)
			        }
				}
			}
		}
		&:hover{
			transition: all 0.4s ease-in-out;
			-webkit-transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			opacity: 1;
			background: rgba(0,0,0,0.1);
		}
	}
}

// .wpb_row {
// 	margin-bottom: 0 !important;
// }

// ==== Shortcode Offered Client
.sky_offered_client {

	h2 {
		font-size: 3.0em;
		color: #fff;
	}
	h3 {
		color: #ebebeb;
	    font-size: 1.5em;
	}
}

.sky_offered_client_list {
	.sky_offered_client_item {
	    margin: 10px;
	    text-align: center;
	    a {
    	    background: rgba(0, 0, 0, 0.25);
		    border-radius: 6px;
		    display: inline-block;
		    padding: 1em;
		    &:hover {
		    	background: @brand-primary;
		    }
		    img {
		    	height: 50px;
		    }
		}
	}
}

// ==== Box New
.sky_box_new {
	border: 1px solid #ddd;
	.item_title {
		a {
			color: #fff;
		}
		.more {
		    position: absolute;
		    right: 30px;
		    font-size: 12px;
		    text-transform: none;
		    top: 12px;
		    &:after {
		    	content: "\f101";
	    	    font: normal normal normal 14px/1 FontAwesome;
    	        margin-left: 5px;
		    }
		    &:hover {
		    	text-decoration: underline;
		    	cursor: pointer;
		    }
		}
	}
	.sky_box_new_container {
	    padding: 10px;
	    background-color: #fff;
		.sky-box-featured {
		    width: 100%;
		    display: table;
		    padding: 0 0 1.5% 0;
		    max-height: 150px;
			.sky-thumb {
				width: 30%;
			    float: left;
			    overflow: hidden;
			    display: inline-block;
			    vertical-align: bottom;
				img {
					padding: 0 6px 0 0;
				    vertical-align: bottom;
				}
			}
			&:after {
				clear: both;
				display: table;
				content: '';
			}
			.sky-content {
			    font-size: 17px;
			    a {
			    	color: #696868;
			    }
			    p {
			    	font-size: 12px;
				    margin-top: 10px;
			    }
			    .title {
			    	a {
			    		font-size: 15px;
				    	&:hover {
				    		color: @brand-primary;
				    		font-weight: bold;
				    	}
				    }
			    }
			}
		}
		.item {
			white-space: nowrap;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    max-width: 98%;
		    padding-left: 2px;
		    line-height: 1.8;
		    border-bottom: 1px dotted #ddd;
		    &:last-child {
		    	border-bottom: none;
		    }
		    &:before {
		    	font: normal normal normal 14px/1 FontAwesome;
	    	    content: "\f0da";
	    	    padding-right: 10px;
		    }
		}
	}
}

@media screen and (max-width: 767px) {
	.sky_box_new {
		.sky_box_new_container {
			margin: 0 15px;
			.sky-box-featured {
				.sky-thumb {
					width: 23%;
				}
			}
		}
	}
}

@media screen and (max-width: 460px) {
	.sky_box_new {
		.sky_box_new_container {
			margin: 0 15px;
			.sky-box-featured {
				.sky-thumb {
					width: 11%;
					img {
						width: 80px;
					}
				}
				.sky-content {
				    white-space: nowrap;
				    text-overflow: ellipsis;
				    overflow: hidden;
				    width: 70%;
				    font-size: 13px;
				    p {
				    	max-height: 39px;
					    overflow: hidden;
				        padding-right: 20px;
				    }
				    .title {
					    white-space: nowrap;
					    text-overflow: ellipsis;
					    overflow: hidden;
					    width: 60%;
				    }
				}
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.sky_box_new {
		.sky_box_new_container {
			.sky-box-featured {
				.sky-content {
				    .title {
					    white-space: nowrap;
					    text-overflow: ellipsis;
					    overflow: hidden;
					    width: 40%;
				    }
				    p {
			    	    white-space: nowrap;
					    text-overflow: ellipsis;
					    overflow: hidden;
					    width: 45%;
				    }
				}
			}
		}
	}
}