.sky-file li {
	width: 250px;
	margin: 0 10px 10px 0;
	-webkit-transition: width .25s, opacity .25s, -webkit-opacity .25s;
	        transition: width .25s, opacity .25s;
}
.sky-file .sky-icon {
	width: 60px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
.sky-file .sky-icon img {
	max-height: 60px;
	max-width: 60px;
}
.sky-file .sky-info {
	width: 180px;
	vertical-align: top;
	overflow: hidden;
}
.sky-file .sky-info p {
	margin: .1em 0;
}
.sky-file .sky-info a {
	font-weight: bold;
	text-decoration: none;
}
.sky-file li,
.sky-file .sky-icon,
.sky-file .sky-info {
	display: inline-block;
}
.sky-file .sky-icon,
.sky-file .sky-info {
	margin: 0 0 2px 2px;
}

.sky-file li.removed {
	width: 0;
	margin: 0;
	        opacity: 0;
	-webkit-opacity: 0;
	   -moz-opacity: 0;
	     -o-opacity: 0;
}

.sky-file li.removed:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	opacity: .4;
	background-color: #f00;
}