.sky-image-select {
	display: inline-block;
	width: 80px;
	height: 80px;
	float: left;
	margin: 0 10px 10px 0;
	border: 3px solid #d8d8d8;
	border-radius: 3px;
	padding: 1px;
}
.sky-image-select img {
	width: 100%;
	height: 100%;
}
.sky-image-select:hover,
.sky-image-select.sky-active {
	border-color: #0074a2;
}
.sky-image-select input {
	display: none;
}