/* Uploaded image */
.sky-images {
	overflow: hidden;
}
.sky-images li {
	margin: 0 10px 10px 0;
	float: left;
	width: 150px;
	height: 150px;
	text-align: center;
	cursor: move;
	position: relative;
	-webkit-transition: width .25s, opacity .25s, -webkit-opacity .25s;
	        transition: width .25s, opacity .25s;
}
.sky-images img {
	width: 150px;
	height: 150px;
}
.sky-image-bar {
	color: #fff;
	font-weight: bold;
	background: #000;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	display: none;
	text-align: center;
}
li:hover .sky-image-bar {
	display: block;
}
.sky-image-bar a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
}
.sky-image-bar a.sky-delete-file {
	font-size: 23px;
	width: 18px;
	font-weight: normal;
}
.sky-images li.removed {
	width: 0;
	margin: 0;
	        opacity: 0;
	-webkit-opacity: 0;
	   -moz-opacity: 0;
	     -o-opacity: 0;
}
.sky-images li.removed:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	opacity: .4;
	background-color: #f00;
}
.sky-images li.ui-state-highlight {
	background: #ddd;
}