.sky-oembed-wrapper .spinner {
	float: none;
	vertical-align: top;
	display: inline-block;
}
.sky-oembed-wrapper .embed-code {
	margin-top: 1em;
}
.sky-oembed-wrapper .embed-code iframe {
	max-width: 100%;
}