/* =Styles for 'normal' meta boxes
-------------------------------------------------------------- */

/* Clearfix for field */
.sky-field:before,
.sky-field:after {
	content: " ";
	display: table;
}
.sky-field:after {
	clear: both;
}
.sky-field {
	*zoom: 1;

	margin: 0 0 10px;
}
.sky-label,
.sky-input {
	vertical-align: top;
	float: left;
}
.sky-label {
	width: 25%;
}
.sky-label.required > span {
	color: #c00;
	font-weight: bold;
}

/* 75% if field has label, 100% if no label */
.sky-input {
	width: 100%;
}
.sky-label ~ .sky-input {
	width: 75%;
}
.sky-input h4 {
	margin: 0;
}
.sky-textarea {
	resize: vertical;
	width: 90% !important;
	margin-left: 2px;
}

/* Clone */
.sky-clone {
	min-height: 24px;
	margin-bottom: 10px;
	position: relative;
	clear: both;
	background: #fff;
}
.sky-clone > input[type='radio'],
.sky-clone > input[type='checkbox'] {
	margin: 6px 0 0 4px;
}
.sky-button.remove-clone {
	text-decoration: none;
	color: #fff;
	background: #c00;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}
.remove-clone:focus {
	outline: 0;
	box-shadow: none;
}
.sky-button.add-clone {
	margin-top: 5px;
}
.sky-clone-icon {
	cursor: move;
	background: url(../img/drag_icon.gif) no-repeat;
	height: 23px;
	width: 15px;
	vertical-align: top;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
}
.sky-clone-placeholder {
	background: #fcf8e3;
	border: 1px solid #faebcc;
	display: block;
}
.sky-sort-clone {
	padding-left: 15px;
}

/* Fix empty block below admin footer (issue #24) */
#ui-datepicker-div {
	display: none;
}

/* jQuery validation */
label.error {
	padding-left: 3px;
	color: red;
}
input.error,
textarea.error,
select.error {
	border-color: #c00 !important;
	background: #ffebe8 !important;
}


/* =Styles for 'side' meta boxes
-------------------------------------------------------------- */

#side-sortables .sky-label,
#side-sortables .sky-input {
	width: 100%;
}
