input.sky-text {
  width: 90%;
}
.t_select_icon {
  position: relative;
}
.t_select_icon i {
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}
.list-entry {
  border: 1px solid #ddd;
  padding: 2px;
  background: transparent;
  margin-top: 6px;
  width: 96%;
}
.list-entry .box-search {
  width: 99.5%;
}
.list-entry .list-icon i {
  border: 1px solid #ddd;
  padding: 8px;
  margin: 3px;
  cursor: pointer;
  width: 19px;
  text-align: center;
}
.list-entry .list-icon i:hover {
  background: #ddd;
}
.icon-search {
  position: relative;
}
.icon-search i.fa-search {
  position: absolute;
  top: 0;
  right: 9px;
  cursor: pointer;
}
.list-icon {
  overflow-y: scroll;
  width: 94.8%;
  height: 100px;
  border: 1px solid #ddd;
  padding: 6px 10px;
  margin: 3px 1px;
}
/*
-------------------------------------------------------------------------------
General view 
-------------------------------------------------------------------------------
*/
#sky-sidebars > ul,
#sky-removed-sidebars > ul {
  min-height: 40px;
  border: 1px solid #ddd;
}
#sky-sidebars > ul > li:last-of-type,
#sky-removed-sidebars > ul > li:last-of-type {
  border-bottom: 0;
}
.sky-sidebars-grid {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  max-width: 1000px;
}
.sky-sidebars-grid.removed-sidebars {
  display: none;
}
.sbg-removed-active .sky-sidebars-grid.removed-sidebars {
  display: block;
}
/*
-------------------------------------------------------------------------------
Head section
-------------------------------------------------------------------------------
*/
.sky-sidebars-list .accordion-section-title {
  position: relative;
  padding-right: 150px;
}
.sky-sidebars-list .accordion-section-title .description {
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  color: #666;
  margin-left: 10px;
}
.sky-sidebars-list .accordion-section-title .sky-sidebar-section-icon {
  padding: 0;
  color: #aaa;
  cursor: move;
  margin-right: 5px;
}
.sky-sidebars-list .accordion-section-title .sky-sidebar-section-icon:hover {
  color: #82B82B;
}
/* Moderate sidebar
------------------------------------------------*/
.sky-sidebars-list .accordion-section-title .moderate-sidebar {
  position: absolute;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  color: #5F72C0;
  margin-left: 10px;
  right: 30px;
  top: 11px;
}
.sky-sidebars-list .accordion-section-title .moderate-sidebar span {
  padding: 1px 7px;
  border-radius: 2px;
  display: inline-block;
}
/* Delete
------------------------------------------------*/
.sky-sidebars-list .accordion-section-title .moderate-sidebar .sky-delete-sidebar {
  color: #CF0018;
}
.sky-sidebars-list .accordion-section-title .moderate-sidebar .sky-delete-sidebar:hover {
  color: #fff;
  background: #CF0018;
}
/* Restore
------------------------------------------------*/
.sky-sidebars-list .accordion-section-title .moderate-sidebar .sky-restore-sidebar {
  color: #82B82B;
  display: none;
}
.sky-sidebars-list .accordion-section-title .moderate-sidebar .sky-restore-sidebar:hover {
  color: #fff;
  background: #82B82B;
}
/* Removed sidebar styles
------------------------------------------------*/
#sky-removed-sidebars .accordion-section-title .description,
#sky-removed-sidebars .accordion-section-title .moderate-sidebar span {
  display: none;
}
#sky-removed-sidebars .accordion-section-title .moderate-sidebar .sky-restore-sidebar {
  display: inline-block;
}
/*
-------------------------------------------------------------------------------
Content section
-------------------------------------------------------------------------------
*/
.sky-sidebar-row label {
  display: block;
  font-weight: 700;
  margin: 10px 0 5px;
}
.sky-sidebar-row input,
.sky-sidebar-row textarea,
.sky-sidebar-row select {
  margin-bottom: 10px;
}
.sky-sidebar-row input[type="checkbox"] {
  margin: 0 5px 0 0;
}
.sky-sidebar-row.sky-sidebar-grid-4 {
  display: inline-block;
  float: left;
  width: 29%;
  margin-right: 1%;
}
.sky-sidebar-row.sky-sidebar-grid-8 {
  display: inline-block;
  float: left;
  width: 69%;
  margin-left: 1%;
}
.add-new-sidebar {
  font-size: 12px;
  padding: 3px 6px;
  margin: 0 7px;
  border-radius: 2px;
  cursor: pointer;
}
/*
-------------------------------------------------------------------------------
Fields
-------------------------------------------------------------------------------
*/
.sky-sidebar-row .sidebars-to-replace-select {
  width: 100%;
  max-width: 278px;
}
.sky-sidebar-row .condition-if,
.sky-sidebar-row .condition-equalto {
  width: 100%;
}
/*
-------------------------------------------------------------------------------
Conditions
-------------------------------------------------------------------------------
*/
.sky-sidebar-row .created-conditions.disabled-conditions {
  position: relative;
}
.sky-sidebar-row .created-conditions.disabled-conditions,
.sky-sidebar-row .created-conditions.disabled-conditions input,
.sky-sidebar-row .created-conditions.disabled-conditions select,
.sky-sidebar-row .created-conditions.disabled-conditions textarea {
  color: #aaa;
  border-color: #ccc;
}
.sky-sidebar-row .created-conditions.disabled-conditions:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.35);
  z-index: 10;
}
.sky-sidebar-row .created-conditions .condition-parent:nth-child(odd) {
  background: #fafafa;
  border: 1px solid #eee;
  border-left: 0;
  border-right: 0;
}
.sky-sidebar-row .created-conditions .condition-parent {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.sky-sidebar-row .created-conditions .condition-parent > .conditions-first {
  display: inline-block;
  width: 28%;
  vertical-align: top;
  padding-right: 2%;
}
.sky-sidebar-row .created-conditions .condition-parent > .conditions-second {
  display: inline-block;
  width: 68%;
  vertical-align: top;
  padding-left: 2%;
}
.sky-sidebar-row .created-conditions .condition-parent .condition-label {
  display: block;
  margin: 5px 0 2px;
  padding-left: 0;
}
.sky-sidebar-row .created-conditions .condition-parent span.condition-remove {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  padding: 1px 3px;
  margin: 3px;
  border-radius: 2px;
  color: #CF0018;
  cursor: pointer;
  float: right;
}
.sky-sidebar-row .created-conditions .condition-parent span.condition-remove .dashicons,
.sky-sidebar-row .created-conditions .condition-parent span.condition-remove .dashicons-before:before {
  font-size: 14px;
  line-height: 14px;
  width: 14px;
  height: 14px;
  margin: 2px 0;
}
.sky-sidebar-row .created-conditions .condition-parent span.condition-remove .dashicons-before:before {
  text-align: center;
  padding: 3px 0;
}
.sky-sidebar-row .created-conditions .condition-parent .condition-remove:hover {
  color: #fff;
  background: #CF0018;
}
.sky-sidebar-row .condition-add {
  margin: 10px 0;
}
.sky-sidebar-row .sky-sidebar-condition-icon {
  position: absolute;
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 3px 0;
  color: #aaa;
  cursor: move;
}
.sky-sidebar-row .sky-sidebar-condition-icon:hover {
  color: #82B82B;
}
.sbg-clearfix:before,
.sbg-clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.sbg-clearfix:after {
  clear: both;
}
.mega-entry,
.mega-list-icon,
.hide,
.megamenu-status {
  display: none;
}
.menu-item-depth-0 .megamenu-status {
  display: block;
}
.menu-item-depth-0 .sky-mega-menu-widgetarea {
  display: none !important;
}
.menu-item-depth-1 .sky-mega-menu-widgetarea {
  display: block !important;
  margin-top: 15px;
}
.sky-icon {
  margin: 15px 0px;
}
.sky-icon span.icon {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 14px;
  font-size: 16px;
  font-weight: bold;
}
.sky-icon span.select_icon,
.sky-icon span.select_color {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 5px 7px;
  font-size: 16px;
  font-weight: bold;
  border-left: none;
  cursor: pointer;
}
.sky-icon span.display {
  float: right;
  border: 1px solid #ddd;
  padding: 6px 18px;
  margin: -6px 10px;
}
.mega-entry {
  border: 1px solid #ddd;
  padding: 2px;
  background: transparent;
  margin-top: 6px;
  width: 96%;
}
.mega-entry .box-search {
  width: 99.5%;
}
.mega-entry .mega-list-icon i {
  border: 1px solid #ddd;
  padding: 8px;
  margin: 3px;
  cursor: pointer;
  width: 19px;
  text-align: center;
}
.mega-entry .mega-list-icon i:hover {
  background: #ddd;
}
.megamenu-search {
  position: relative;
}
.megamenu-search i.fa-search {
  position: absolute;
  top: 0;
  right: 9px;
  cursor: pointer;
}
.mega-list-icon {
  overflow-y: scroll;
  width: 93.8%;
  height: 100px;
  border: 1px solid #ddd;
  padding: 6px 10px;
  margin: 3px 1px;
}
.box-set {
  padding: 2px;
  width: 96%;
}
.box-set > div {
  padding: 2px 10px;
}
.box-set input[type="number"] {
  width: 60px;
  height: 23px;
  padding: 1px;
  border-radius: 4px;
  font-size: 13px;
}
.box-set .select_alignment {
  height: 22px !important;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  font-size: 13px;
}
@media (max-width: 786px) {
  .mega-entry {
    width: 99%;
  }
}
/**
 * Tooltip Styles
 */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  pointer-events: none;
}
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid rgba(51, 51, 51, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}
#sky_tools {
  width: 99%;
}
#sky_tools .item_tools {
  background: #fff;
  padding: 6px;
  cursor: pointer;
}
#sky_tools .item_tools:before {
  content: "→";
}
#sky_tools .item_tools:hover {
  font-weight: bold;
}
#sky_tools .sky_hide {
  display: none;
  background: #fff;
  padding: 10px;
  margin-top: 15px;
}
#sky_tools .sky_hide .item {
  width: 32%;
  position: relative;
  text-align: center;
  float: left;
  border: 1px solid #ddd;
  margin: 5px;
}
#sky_tools .sky_hide .item .button-install {
  display: none;
  position: absolute;
  top: 45%;
  left: 40%;
}
#sky_tools .sky_hide .item img {
  max-width: 100%;
}
#sky_tools .sky_hide .item .item_footer {
  border: 1px solid #ddd;
  padding: 8px 20px;
}
#sky_tools .sky_hide .item .item_footer .more-detail {
  float: left;
}
mark.yes {
  background-color: transparent;
  color: #7ad03a;
}
mark.error {
  background-color: transparent;
  color: #a00;
}
mark.error span:hover {
  cursor: pointer;
}
table.widefat {
  margin-bottom: 20px;
}
.sky-spinner #word_select {
  display: block;
  margin: 10px 0;
  width: 90%;
  height: 250px;
  padding: 5px 10px;
}
.sky-spinner #word_select option:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f101";
  padding-right: 5px;
}
.sky-spinner #synonym_word {
  margin: -3px 0 8px;
  width: 100%;
}
.sky-spinner #word_synonyms {
  width: 100%;
  height: 184px;
}
.sky-spinner :disabled {
  background-color: #F0F0F0;
  cursor: not-allowed;
}
.sky-auto-spinner-meta li.tab_head {
  cursor: pointer;
}
.sky-spin-form label {
  display: block;
  margin: 15px 0 5px;
  width: 100%;
}
.sky-spin-form .field {
  display: inline;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}
.sky-spin-form input[type=text],
.sky-spin-form textarea {
  width: 100%;
}
.visible-overflow {
  overflow: visible !important;
  max-height: none !important;
}
.post_rewrite {
  margin: 20px 0;
}
#spinner_dev {
  border: 1px solid #DFDFDF;
  z-index: 999999999;
  display: none;
  position: absolute;
}
#spinner_dev li {
  background: #F5F5F5;
  padding: 2px 5px;
  border-bottom: 1px solid #DFDFDF;
}
#spinner_dev li:first-child {
  font-weight: bold;
}
#spinner_dev li:hover {
  background: #aaa;
  color: #fff	;
}
.sky-settings thead {
  background: #ded;
}
.sky-settings tbody tr.sky-menu {
  background: #F7F7F7;
}
.sky-settings tbody tr.sky-menu td {
  font-style: normal;
}
.sky-settings tbody tr td {
  font-style: italic;
  font-size: 12px;
}
.sky-settings tfoot {
  background: #f0f5fa;
}
.sky-settings thead tr th,
.sky-settings tfoot tr th {
  font-weight: bold !important;
}
.sky-settings .sky-optimize input[type="checkbox"] {
  margin-left: 14px;
}
