.synonym {
	background: #337ab7;
	padding: 2px 6px;
	color: #fff;
	border-radius: 5px;
}

#spinner_dev li{
	background: #333;
	color: #fff;
}


#spinner_dev li:hover{
	background: blue;
	color: #fff;
	cursor: pointer;
}